body {
  padding: 1vh 1vw 1vw;
  font: 2vh "Lucida Grande", Helvetica, Arial, sans-serif;
/*    Very dark gray*/
    background-color: #222222;
    color: white
}

a {
  color: #00B7FF;
}
/*Should be top right corner*/
.back-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5vh 1vh 1vh;
    padding: 1vh;
    background-color: transparent;
    opacity: 1;
    color: white;
    border: 0.1vh white solid;
    border-radius: 0.1vw;
  display: none;
}


#registration-form{
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*margin-top: 10vh;*/
}
#registration-form  button{
  position: absolute;
  top: 0;
  right: 3vw;
    margin: 1.5vh 1vh 1vh;
    color: white;
    border: 0.1vh white solid;
  padding: 1vh;
  background-color: transparent;
  opacity: 1;
}
#user-login-form{
    position: absolute;
    top: 6vh;
    right: 8.2vw;
}
#login-form{
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*margin-top: 10vh;*/
}
#login-form, #logout-button{
  position: absolute;
  top: 0;
  right: 7vw;
  margin: 1vh;
  padding: 1vh;
  border: none;
  background-color: transparent;
  opacity: 0.6;
}
#screenings {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw; /* Spacing between cards */
    /* Spacing around the container */
    justify-content: center; /* Center cards in the container */
    max-height: 100vh;
    overflow-y: scroll;
    max-width: 40vw;
    scrollbar-color: #00B7FF transparent;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;

    overflow-x : hidden;

    padding: 4vh 4vw 4vw;
    background-color: #222222;
    border: 0.1vh black solid;
    border-radius: 1vw;
    /*Indent shadow*/
    box-shadow: 0 0.1vw 0.5vw 0 rgba(0, 0, 0, 0.1);
    color: #fff;
}
/* Style the scrollbar for Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 0.1vw; /* width of the entire scrollbar */
    color: transparent; /* color of the entire scrollbar */

}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background: #888; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scroll thumb when hovered over */
}

/* Style the scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}
#seats{
    padding: 1vw;
}
.category-prices-and-seat-color-coding-container{
    display: flex;
    gap: 0.5vw;
    border: 0.1vw dotted white;

}
.category-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.1vw dotted white;
}
.seat-color-coding{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screening {
    background-color: #fff; /* Card background color */
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: 38vw;
    margin-bottom: 2vw;
    text-align: center;
    border-radius: 1vw;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    font-size: 6vh;
    font-weight: bold;
    /*Font needs to be readable*/
    color: #000;
    /*Add stroke for font*/
    -webkit-text-stroke: 1px #fff;
    min-height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
/*    Make image smaller in width only*/
    background-size: 100% auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    align-items: center;
    justify-content: center;
    background-position-y: -5vh;

}

.screening:hover {
    box-shadow: 0 1vw 2vw 0 rgba(0,0,0,0.2); /* Larger shadow on hover for a "lifting" effect */
    transform: scale(1.03); /* Slight scale-up effect on hover */
}
@keyframes  scaleUp{
    0% {
        height: 20vh;

    }
    100% {
        height: 500px;
        background-position-y: 0vh;
    }
}
@keyframes scaleDown {
    0% {
        height: 500px;
        background-position-y: -5vh;
    }
    100% {
        height: 20vh;
    }
}
.largeScreening{
    box-shadow: 0 0.5vw 1vw 0 rgba(0,0,0,0.2); /* Active effect to simulate button press */
    animation-fill-mode: forwards;
    animation-name: scaleUp;
    animation-duration: 1s;
    transform: scale(1.03); /* Slight scale-up effect on hover */

}


.screening .title {
    font-size: 1.5vw; /* Title font size */
    font-weight: bold; /* Title font weight */
    margin: 1.5vw 0; /* Space above and below the title */
    display: block; /* Ensure the title takes up the full width */
    padding: 1.5vw 0; /* Padding for clickable area */
}
#screening-container{
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}
.Screening-Builder-Button{
    display: block;
    top: 2vh;
    left: 45vw;
    position: absolute;
}
#hallsEdit{
    display: block;
    top: 2vh;
    left: 55vw;
    position: absolute;
}
.halls{
display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2vh;
/*    Make into cards*/

}
#screening-details{
    row-gap: 1vh;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    border-right: 0.1vw solid white;
}
.hall{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: 40vw;
    text-align: center;
    border-radius: 1vw;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    font-size: 4vh;
    font-weight: bold;
    min-height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: space-between;
    padding: 2vw;
}
.hall > button{
   font-size: 2vh;
    border-radius: 1vw;
    padding: 1vw;
}
.seatsElement{
    padding: 1vw;
    max-width: 80vw;
}
/* Adjustments for responsive design */
@media (max-width: 50em) {
    .screening {
        width: 90vw;
    }
    .screening .title {
        font-size: 3vw;
    }
}
#hall-container{
    display: flex;
    flex-direction: column;
    width: min-content;
}
.fa-chair{
    margin: 0.2vw;
    font-size: 2vw;
}
#Kinosaal-Builder{
    margin-top: 2vh;

}
.selected{
    color: orange;
}
.reservedByMe {
    color: green;
}